@import url('https://fonts.googleapis.com/css2?family=Abel&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Agdasima:wght@400;700&family=Aldrich&family=Allura&family=Annie+Use+Your+Telescope&family=Anta&family=Antonio:wght@100..700&family=Architects+Daughter&family=Atma:wght@300;400;500;600;700&family=Bahiana&family=Bangers&family=Bebas+Neue&family=Beth+Ellen&family=Big+Shoulders+Display:wght@100..900&family=Bilbo&family=Bilbo+Swash+Caps&family=Caveat:wght@400..700&family=Copse&family=Covered+By+Your+Grace&family=Dancing+Script:wght@400..700&family=East+Sea+Dokdo&family=Englebert&family=Fasthand&family=Gemunu+Libre:wght@200..800&family=Geo:ital@0;1&family=Girassol&family=Kumar+One+Outline&family=La+Belle+Aurore&family=Lacquer&family=Maiden+Orange&family=Mansalva&family=Metrophobic&family=Mohave:ital,wght@0,300..700;1,300..700&family=Montserrat+Subrayada:wght@400;700&family=Orbitron:wght@400..900&family=Oregano:ital@0;1&family=Pragati+Narrow:wght@400;700&family=Rationale&family=Ruda:wght@400..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&family=Seaweed+Script&family=Sixtyfour&family=Slabo+13px&family=Sniglet:wght@400;800&family=Sunflower:wght@300&family=Tillana:wght@400;500;600;700;800&family=Train+One&family=Trocchi&family=Unica+One&family=Whisper&family=Workbench&family=Yatra+One&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Mina:wght@400;700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/trajan-pro');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Anta&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Geo:ital@0;1&family=Iceland&family=Kdam+Thmor+Pro&family=Nova+Square&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&family=Rationale&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sarpanch:wght@400;500;600;700;800;900&family=Teko:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Freehand&family=Great+Vibes&family=Kaushan+Script&family=Kings&family=La+Belle+Aurore&family=Mr+Dafoe&family=My+Soul&family=Nanum+Pen+Script&family=Nova+Square&family=Oooh+Baby&family=Pacifico&family=Ranga:wght@400;700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Yellowtail&family=Zeyada&display=swap');

:root {
    --Abel: "Abel", sans-serif;
    --Advent: "Advent Pro", sans-serif;
    --Agdasima: "Agdasima", sans-serif;
    --Alex: "Alex Brush", cursive;
    --Aldrich: "Aldrich", sans-serif;
    --Allura: "Allura", cursive;
    --Alumni: "Alumni Sans", sans-serif;
    --Annie: "Annie Use Your Telescope", cursive;
    --Anta: "Anta", sans-serif;
    --Antonio: "Antonio", sans-serif;
    --Archi: "Architects Daughter", cursive;
    --Atma: "Atma", system-ui;
    --Aurore: "La Belle Aurore", cursive;
    --Baby: "Oooh Baby", cursive;
    --Bahiana: "Bahiana", sans-serif;
    --Bangers: "Bangers", system-ui;
    --Bebas: "Bebas Neue", sans-serif;
    --Beth: "Beth Ellen", cursive;
    --Bigshou: "Big Shoulders Display", sans-serif;
    --Bilbo: "Bilbo Swash Caps", cursive;
    --Calligra: "Calligraffitti", cursive;
    --Caveat: "Caveat", cursive;
    --Caveat2: "Caveat Brush", cursive;
    --Chakra: "Chakra Petch", sans-serif;
    --Copse: "Copse", serif;
    --Covered: "Covered By Your Grace", cursive;
    --Dafoe: "Mr Dafoe", cursive;
    --Dancing: "Dancing Script", cursive;
    --East: "East Sea Dokdo", sans-serif;
    --Englebert: "Englebert", cursive;
    --Fasthand: "Fasthand", cursive;
    --Freehand: "Freehand", cursive;
    --Gemunu: "Gemunu Libre", sans-serif;
    --Geo: "Geo", sans-serif;
    --Girassol: "Girassol", serif;
    --Iceland: "Iceland", sans-serif;
    --Kaushan: "Kaushan Script", cursive;
    --Kdam: "Kdam Thmor Pro", sans-serif;
    --Kings: "Kings", cursive;
    --Kumar: "Kumar One Outline", system-ui;
    --Lacquer: "Lacquer", system-ui;
    --Maiden: "Maiden Orange", serif;
    --Mansalva: "Mansalva", sans-serif;
    --Metro: "Metrophobic", sans-serif;
    --Mina: "Mina", sans-serif;
    --Mohave: "Mohave", sans-serif;
    --Nanum: "Nanum Pen Script", cursive;
    --Nova: "Nova Square", sans-serif;
    --Orbitron: "Orbitron", sans-serif;
    --Oregano: "Oregano", cursive;
    --Oswald: "Oswald", sans-serif;
    --Pacifico: "Pacifico", cursive;
    --Pragati: "Pragati Narrow", sans-serif;
    --Public: "Public Sans", sans-serif;
    --Rajdhani: "Rajdhani", sans-serif;
    --Ranga: "Ranga", cursive;
    --Rationale: "Rationale", sans-serif;
    --Roboto: "Roboto", sans-serif;
    --Ruda: "Ruda", sans-serif;
    --Saira: "Saira Condensed", sans-serif;
    --Sarpanch: "Sarpanch", sans-serif;
    --Seaweed: "Seaweed Script", cursive;
    --Sixty: "Sixtyfour", sans-serif;
    --Slabo: "Slabo 27px", serif;
    --Sniglet: "Sniglet", system-ui;
    --Soul: "My Soul", cursive;
    --Subra: "Montserrat Subrayada", sans-serif;
    --Sunflower: "Sunflower", sans-serif;
    --Teko: "Teko", sans-serif;
    --Tillana: "Tillana", system-ui;
    --Train: "Train One", system-ui;
    --Trocchi: "Trocchi", serif;
    --Unica: "Unica One", sans-serif;
    --Urbanist: "Urbanist", sans-serif;
    --Vibes: "Great Vibes", cursive;
    --Whisper: "Whisper", cursive;
    --Workbench: "Workbench", sans-serif;
    --Yatra: "Yatra One", system-ui;
    --Yellowtail: "Yellowtail", cursive;
    --Xanh: "Xanh Mono", monospace;
    --Zeyada: "Zeyada", cursive;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

/******FICHE RELATION/RP #1 START******/
.Aiolos {
    --col0: #baecff;
    --col1: #7dcbf2;
    --col2: #69a1b8;
    --col3: #275770;
    --col4: #10232b;
    --back: url(https://i.postimg.cc/Ss4nbWpr/back-fiche-lien.png);
}

.Declan {
    --col0: #befff5;
    --col1: #0fd8ba;
    --col2: #00a88f;
    --col3: #16685c;
    --col4: #0c2e29;
    --back: url(https://i.postimg.cc/RZVs7ZgS/back-fiche-lien-2.png);
}

.CH_linksRP {
    width: 650px;
    background-image: var(--back);
    display: flex;
    flex-direction: column;
    margin: auto;
}

.CHlink_top {
    width: 100%;
    height: 50px;
    background-color: var(--col2);
    font-family: var(--Chakra);
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    line-height: 52px;
    color: #fff;
    text-shadow: 2px 2px 0 var(--col3);
}

.CHlink_title_right, .CHlink_title_left, .CHlink_title_center {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 56px;
    align-items: flex-start;
}

.triangle_right, .triangle_left {
    --r:29px; /* border radius */
    width: 150px;
    aspect-ratio: 1;
    border-bottom-right-radius: var(--r);
    --_g:calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
    --_r:calc(var(--r)/tan(22.5deg)),#000 98%,#0000 101%;
      background-color: var(--col3);
      margin-top: -20px;
      z-index: 1;
}

.triangle_right {
    clip-path: polygon(100% 0,0 100%,100% 100%);
    -webkit-mask:
      radial-gradient(var(--r) at bottom var(--r) left var(--_r)),
      radial-gradient(var(--r) at right  var(--r) top  var(--_r)),
      conic-gradient(from 112.5deg at calc(100% - var(--_g)) calc(100% - var(--_g)),#000 45deg,#0000 0);
}

.triborder_right, .triborder_left, .CHlink_title_center .triborder_left {
    position: absolute;
    top: -1px;
    width: 151px;
    background-color: var(--col1)!important;
    z-index: 0!important;
}

.triborder_right {
    left: -1px;
}

.CHlinktit_back_right, .CHlinktit_back_left, .CHlinktit_back_center {
    width: 200px;
    height: 129px;
    background-color: var(--col3);
    border: 1px solid var(--col1);
    border-bottom: none;
    margin-top: 20px;
    z-index: 2;
    font-family: var(--Iceland);
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    color: #fff;
}

.CHlinktit_back_right {
    border-left: none;
    border-radius: 0 15px 0 0;
    margin-left: -30px;

}

.CHlink_title_left {
    margin-left: 20px;
}

.triangle_left {
    clip-path: polygon(0 0,100% 100%,0 100%);
    -webkit-mask:
      radial-gradient(var(--r) at bottom var(--r) right var(--_r)),
      radial-gradient(var(--r) at left   var(--r) top   var(--_r)),
      conic-gradient(from 202.5deg at var(--_g) calc(100% - var(--_g)),#000 45deg,#0000 0);
      background-color: var(--col3);
      margin-top: -20px;
      z-index: 1;
}

.triborder_left {
    left: 171px;
}

.CHlinktit_back_left {
    border-right: none;
    border-radius: 15px 0 0 0;
    margin-right: -30px;
}

.CHlink_title_center {
    align-self: center;
}

.CHlink_title_center .triangle_left {
    margin-left: -27px;
}

.CHlink_title_center .triborder_left {
    left: 320px;
    width: 151px;
}

.CHlinktit_back_center {
    border-left: none;
    border-right: none;
    margin-left: -30px;
}

.CHlink_bloc {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.CHlink_infos, .CHlink_physical {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.CHlink_infos img {
    margin-top: 20px;
    width: 160px;
    height: 300px;
    border: 1px solid var(--col1);
    object-fit: cover;
}

.CHlink_blocinfo, .CHlink_blocphysic, .CHlink_blocchrono {
    flex-direction: column;
}

.CHlink_blocinfo, .CHlink_blocphysic, .CHlink_blocchrono, .CHlink_blocicon, .CHlink_linkbox {
    display: flex;
    flex: 1;
    background-color: var(--col4);
    border: 1px solid var(--col1);
    border-radius: 10px;
    padding: 0 10px;
}

.CHlink_blocinfo span, .CHlink_blocphysic span {
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--col1);
    padding-left: 10px;
    font-family: var(--Abel);
    font-size: 20px;
    color: #fff;
}

.CHlink_blocinfo span b, .CHlink_blocphysic span b, .CHlink_blocphysic b {
    font-family: var(--Iceland);
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--col1);
    margin-right: 10px;
}

.CHlink_blocphysic span b {
    margin-top: 0;
    padding-left: 0;
}

.CHlink_blocinfo span:last-child {
    border: none;
}

.CHlink_physical .CHlink_title_right {
    margin-left: -20px;
}

.CHlink_physical img {
    margin-top: 20px;
    border: 1px solid var(--col1);
}

.CHlink_blocphysic {
    padding-bottom: 10px;
}

.CHlink_blocphysic span {
    font-size: 16px;
}

.CHlink_blocphysic span b, .CHlink_blocphysic b {
    font-size: 20px;
}

.CHlink_blocphysic b {
    margin-top: 7px;
    padding-left: 10px;
}

.CHlink_blocphysic p {
    height: 145px;
    font-family: var(--Abel);
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
    text-align: justify;
    overflow: auto;
    scrollbar-width: none;
}

.CHlink_search, .CHlink_chrono, .CHlink_icon, .CHlink_link {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.CHlink_blocsearch {
    display: flex;
    flex: 1;
}

.CHlink_listsearch {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: var(--col1);
    border: 1px solid var(--col1);
    justify-content: space-between;
    height: 275px;
}

.CHlink_listsearch span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--col2), var(--col1));
    height: 20px;
}

.CHlink_blocsearch label {
    font-family: var(--Abel);
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.CHlink_blocsearch label:hover {
    color: var(--col3);
}

.CHlink_linkdesc {
    height: 275px;
    display: flex;
    flex: 1;
    background-color: var(--col4);
    border: 1px solid var(--col2);
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.CHlink_blocsearch div.CHlink_desc {
    display: none;
}

.CHlink_blocsearch input {
    display: none;
}

.CHlink_blocsearch input:checked + div.CHlink_desc {
    display: flex;
}

.CHlink_desc {
    gap: 5px;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px;
}

.CHlinksearch_title {
    font-family: var(--Abel);
    font-size: 26px;
    color: var(--col0);
    text-transform: uppercase;
}

.CHlinksearch_disp {
    font-family: var(--Iceland);
    font-size: 24px;
    color: #fff;
}

.CHlink_free {
    color: #34f07f;
}

.CHlink_taken {
    color: #ac5b5b;
}

.CHlink_desc p {
    width: 100%;
    flex: 1;
    font-family: var(--Abel);
    font-size: 16px;
    color: #fff;
    text-align: justify;
    overflow: auto;
    scrollbar-width: none;
}

.CHlink_blocchrono {
    padding: 10px 10px 0;
    font-family: var(--Abel);
    font-size: 18px;
    color: #fff;
    gap: 10px;
}

.CH_blochrono {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    text-align: justify;
}

.CH_blochrono:last-child {
    border: none;
}

.CH_blochrono span {
    padding-left: 15px;
    margin-bottom: 10px;
    line-height: 18px;
}

.CH_blochrono span b {
    color: var(--col3);
}

.CH_blochrono a {
    text-decoration: none;
    color: var(--col1);
    text-transform: uppercase;
}

.CH_blochrono a:hover {
    color: var(--col3);
}

.CHrono_period {
    font-family: var(--Iceland);
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--col3);
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: var(--col1);
}

.CHlink_blocicon {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.CHlink_blocicon img {
    width: 100px;
    height: 100px;
}

.CHlink_down {
    margin-top: 20px;
    background-color: var(--col2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: var(--Geo);
    font-size: 16px;
    height: 26px;
}

.CHlink_link {
    padding-top: 20px;
    gap: 20px;
}

.link_aiolos {
    --c1: #34cff0;
    --c2: #275770;
    --c3: #10232b;
}

.link_declan {
    --c1: #0fd8ba;
    --c2: #16685c;
    --c3: #0c2e29;
}

.link_humis {
    --c1: #6DACC5;
    --c2: #1c5268;
    --c3: #0e2933;
}

.link_uni {
    --c1: #D7995B;
    --c2: #8a5a2b;
    --c3: #272420;
}

.link_devi {
    --c1: #B980C8;
    --c2: #683a74;
    --c3: #332736;
}

.link_huma {
    --c1: #C66C6C;
    --c2: #7e3e3e;
    --c3: #2e1313;
}

.link_hybri {
    --c1: #79B77A;
    --c2: #435f44;
    --c3: #141d14;
}

.CHlink_linkbox {
    padding: 10px;
    gap: 10px;
    background-color: var(--c3);
    border: 1px solid var(--c1);
}

.linkbox_right {
    flex-direction: row-reverse;
}

.linkbox_img, .linkbox_img img, .linkbox_img div {
    width: 165px;
    height: 230px;
}

.linkbox_img {
    position: relative;
    border: 1px solid var(--c1);
}

.linkbox_left .linkbox_img {
    border-right: 10px solid var(--c1);
}

.linkbox_left .linkbox_img, .linkbox_left .linkbox_img img, .linkbox_left .linkbox_img div {
    border-radius: 10px 0 0 10px;
}

.linkbox_right .linkbox_img {
    border-left: 10px solid var(--c1);
}

.linkbox_right .linkbox_img, .linkbox_right .linkbox_img img, .linkbox_right .linkbox_img div {
    border-radius: 0 10px 10px 0;
}

.linkbox_img img {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    transition: opacity 0.5s;
}

.linkbox_img img:hover {
    opacity: 0.2;
    transition: opacity 0.5s;
}

.linkbox_img div {
    display: flex;
    background-color: var(--c2);
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 24px;
}

.linkbox_img div span {
    font-family: var(--Abel);
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
}

.linkbox_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linkbox_name {
    display: block;
    font-family: var(--Iceland);
    font-size: 36px;
    text-transform: uppercase;
    color: var(--c1);
    letter-spacing: -2px;
    line-height: 20px;
}

.linkbox_right .linkbox_name {
    text-align: right;
}

.linkbox_infos {
    background-color: var(--c1);
    font-family: var(--Abel);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 3px 0 2px;
}

.linkbox_affinity {
    background-color: #fff;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0 3px;
}

.linkbox_affinity span {
    font-family: var(--Abel);
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--c2);
}

.linkbox_affbox {
    flex: 1;
    height: 10px;
    border: 1px solid var(--c2);
}

.linkbox_affrate {
    height: 100%;
    background-color: var(--c1);
}

.linkbox_desc {
    display: block;
    height: 62px;
    font-family: var(--Abel);
    font-size: 14px;
    color: #fff;
    text-align: justify;
    overflow: auto;
    line-height: 15px;
    padding-right: 10px;
}

.linkbox_left .linkbox_RPlist {
    border-left: 2px solid var(--c1);
}

.linkbox_right .linkbox_RPlist {
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--c1);
}

.linkbox_inter {
    position: relative;
    top: 1px;
    background-color: var(--c1);
    font-family: var(--Iceland);
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 10px;
}

.linkbox_right .linkbox_inter {
    top: 0;
    align-self: flex-end;
}

.linkbox_RPlist div {
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    overflow: auto;
    scrollbar-width: none;
}

.linkbox_left .linkbox_RPlist div {
    padding: 6px 0 0 5px;
}

.linkbox_right .linkbox_RPlist div {
    padding: 6px 5px 0 0;
}

.linkbox_RPlist div span {
    display: flex;
    height: 20px;
    flex: 1 auto;
    background-color: var(--c2);
    padding: 0 15px;
    font-family: var(--Abel);
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

.linkbox_RPlist div span a {
    text-decoration: none;
    color: #fff;
    padding-top: 2px;
}

.linkbox_RPlist div span a:hover {
    color: var(--c1);
}

.linkbox_desc::-webkit-scrollbar {
    width: 5px;
}
.linkbox_desc::-webkit-scrollbar-thumb {
    background: var(--c1);
    border-radius: 5px;
}
.linkbox_desc::-webkit-scrollbar-track {
    background: var(--c3);
}
/******FICHE RELATION/RP #1 END******/

/******FICHE RP #1 START******/
.CH_RP1 {
    position: relative;
    width: 650px;
    margin: auto;
    background-color: #121212;
    background-image: url(https://i.postimg.cc/52gSGb0f/Sans-titre-1.png);
    overflow: hidden;
    box-sizing: border-box;
}

.CH_RP1 div {
    box-sizing: border-box;
}

.CHRP1_bann {
    position: relative;
    width: 650px;
    height: 170px;
    background-color: #0eb1b7;
    z-index: 99;
    box-shadow: 0px 0px 10px 0px #060606;
}

.CHRP1_bann img {
    width: 650px;
    height: 170px;
    object-fit: cover;
    opacity: 0.8;
}

.CHRP1_title {
    position: absolute;
    width: 650px;
    height: 170px;
    top: 0;
    left: 0;
    display: flex;
    padding: 20px;
    background: linear-gradient(to right, #0eb1b7 40%, transparent);
    flex-direction: column;
    justify-content: space-between;
}

.CHRP1_title span {
    padding-top: 10px;
    color: #fff;
    font-family: var(--Oswald);
    font-size: 45px;
    text-transform: uppercase;
}

.CHRP1_title i {
    color: #fff;
    font-family: var(--Abel);
    font-size: 20px;
}

.CHRP1_barre {
    position: absolute;
    height: 100%;
    width: 20px;
    background-color: #0eb1b7;
    left: 70px;
    bottom: 0;
    z-index: 1;
}

.CHRP1_content {
    width: 100%;
    padding: 30px;
    display: flex;
    gap: 20px;
}

.CHRP1_left {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CHRP1_ico {
    width: 100px;
    height: 100px;
    background-color: #222222;
    z-index: 99;
    box-shadow: 0px 0px 10px 0px #060606;
}

.CHRP1_ico img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.CHRP1_right {
    flex: 1;
    background-color: #222222;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #060606;
}

.CHRP1_right p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #fff;
    font-family: var(--Roboto);
    font-size: 14px;
    text-align: justify;
}

.CHRP1_cred {
    position: absolute;
    left: 100px;
    bottom: 4px;
    color: #535353;
    font-family: var(--Geo);
    font-size: 14px;
}
/******FICHE RP #1 END******/

/******FICHE RP #2 START******/
.CHRP2 * {
    box-sizing: border-box;
}

.CHRP2 {
    width: 650px;
    background-image: url('https://i.postimg.cc/sg9zdbd3/1.png');
    display: flex;
    justify-content: space-between;
}

.CHRP2_icobloc {
    position: relative;
    width: 140px;
    border-right: 20px solid #00a88f;
    background-color: #212121;
    background-image: url('https://i.postimg.cc/MHV6cT4Q/backRP.gif');
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CHRP2_grad {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 820px;
    background: linear-gradient(to bottom, #212121 30%, transparent);
    z-index: 1;
}

.CHRP2_player {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
}

.CHRP2_player img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #00a88f;
}

.CHRP2_player span {
    display: flex;
    height: 25px;
    font-family: var(--Dafoe);
    font-size: 24px;
    color: #00a88f;
    align-items: center;
}

.CHRP2_player a, .CHRP2_period {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.CHRP2_player a:hover {
    color: #00a88f;
}

.CHRP2_content {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CHRP2_titbloc {
    width: 470px;
    padding: 10px;
    background-image: url(https://i.postimg.cc/9fmhW1CZ/fond-titre-RP2.png);
    background-position: right center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CHRP2_title {
    font-family: var(--Abel);
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #fff;
}

.CHRP2_period {
    font-style: italic;
}

.CHRP2_rpbloc {
    width: 470px;
    padding: 10px;
    border: 1px solid #00a88f;
    background-color: #2c2c2c;
}

.CHRP2_rpbloc p {
    font-family: var(--Abel);
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
    color: #fff;
}

.CHRP2_cred {
    position: absolute;
    bottom: 4px;
    left: 20px;
    font-family: var(--Geo);
    font-size: 11px;
    color: #ffffff73;
}
/******FICHE RP #2 END******/
